## ###################################################################
##
## Copyright 2023 NXP
##
## Redistribution and use in source and binary forms, with or without modification,
## are permitted provided that the following conditions are met:
##
## o Redistributions of source code must retain the above copyright notice, this list
##   of conditions and the following disclaimer.
##
## o Redistributions in binary form must reproduce the above copyright notice, this
##   list of conditions and the following disclaimer in the documentation and/or
##   other materials provided with the distribution.
##
## o Neither the name of the copyright holder nor the names of its
##   contributors may be used to endorse or promote products derived from this
##   software without specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
## ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
## WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
## DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
## ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
## (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
## LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
## ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
## SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##
##
## ###################################################################

# SM configuration data file for simulation

#==========================================================================#
# Resources                                                                #
#==========================================================================#

# CPUs

M33P:               PD_0, CPU_0, DFMT0, MDAC_X1C=0
M7P:                PD_1, CPU_1, DFMT0, MDAC_X2C=0
AP1:                PD_2, CPU_2, PERF_0, DFMT0, MDAC_X3C=0
AP2:                PD_3, CPU_3

# IP

RSRC1:              PD_4, CLK_0, DFMT1, MDAC_X4=0, MBC_X0=0.0
RSRC2:              PD_5, CLK_1, MBC_X0=0.1
RSRC3:              PD_6, CLK_2, MBC_X0=0.2

#==========================================================================#
# Memories                                                                 #
#==========================================================================#

M33_TCM_CODE:       MBC_X1=0, origin=0x201E0000, nblks=32, blksize=4K
M33_TCM_SYS:        MBC_X1=1, origin=0x20200000, nblks=32, blksize=4K
M33_ROM:            MRC_X0=0, nrgns=8

#==========================================================================#
# Automatic resources                                                      #
#==========================================================================#

PD_0:

#==========================================================================#
# MIXes                                                                    #
#==========================================================================#

MIX                 name=PD0
MIX                 name=PD1
MIX                 name=PD2
MIX                 name=PD3
MIX                 name=PD4
MIX                 name=PD5
MIX                 name=PD6

