## ###################################################################
##
## Copyright 2023 NXP
##
## Redistribution and use in source and binary forms, with or without modification,
## are permitted provided that the following conditions are met:
##
## o Redistributions of source code must retain the above copyright notice, this list
##   of conditions and the following disclaimer.
##
## o Redistributions in binary form must reproduce the above copyright notice, this
##   list of conditions and the following disclaimer in the documentation and/or
##   other materials provided with the distribution.
##
## o Neither the name of the copyright holder nor the names of its
##   contributors may be used to endorse or promote products derived from this
##   software without specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
## ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
## WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
## DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
## ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
## (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
## LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
## ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
## SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##
##
## ###################################################################

# SM configuration data file for MX95 CAMERAMIX

#==========================================================================#
# Resources                                                                #
#==========================================================================#

ISP_CPU:            PD_CAMERA, DFMT1, MDAC_C16=0, MDAC_C17=0, \
                    MBC_C0=0.30, MBC_C0=0.32-50, MBC_C2=0.0
ISP_MGR:            PD_CAMERA, CLK_CAMCM0, PERF_CAM, \
                    MBC_C0=0.6, MBC_C0=0.29

TCU_C:              PD_CAMERA, MBC_C0=0.0
BLK_CTRL_CAMERAMIX: PD_CAMERA, MBC_C0=0.1
MTR_DCA_C:          PD_CAMERA, MBC_C0=0.2
TROUT_BASIC_C:      PD_CAMERA, MBC_C0=0.3
TRDC_C:             PD_CAMERA, MBC_C0=0.4-5
CAMERA1:            PD_CAMERA, DFMT1, MDAC_C0=0, MDAC_C8=0, MBC_C0=0.7
CAMERA2:            PD_CAMERA, DFMT1, MDAC_C1=0, MDAC_C9=0, MBC_C0=0.8
CAMERA3:            PD_CAMERA, DFMT1, MDAC_C2=0, MDAC_C10=0, MBC_C0=0.9
CAMERA4:            PD_CAMERA, DFMT1, MDAC_C3=0, MDAC_C11=0, MBC_C0=0.10
CAMERA5:            PD_CAMERA, DFMT1, MDAC_C4=0, MDAC_C12=0, MBC_C0=0.11
CAMERA6:            PD_CAMERA, DFMT1, MDAC_C5=0, MDAC_C13=0, MBC_C0=0.12
CAMERA7:            PD_CAMERA, DFMT1, MDAC_C6=0, MDAC_C14=0, MBC_C0=0.13
CAMERA8:            PD_CAMERA, DFMT1, MDAC_C7=0, MDAC_C15=0, MBC_C0=0.14
MIPI_DSI:           PD_CAMERA, MBC_C0=0.15-16
MIPI_PHY:           PD_CAMERA, CLK_MIPIPHYCFG, CLK_MIPIPHYPLLBYPASS \
                    CLK_MIPIPHYPLLREF, CLK_MIPITESTBYTE, MBC_C0=0.18
MIPI_CSI0:          PD_CAMERA, MBC_C0=0.19
MIPI_CSI1:          PD_CAMERA, MBC_C0=0.20
ISI1:               PD_CAMERA, DFMT1, MDAC_C18=0, MBC_C0=0.21
ISI2:               PD_CAMERA, DFMT1, MDAC_C19=0, MBC_C0=0.22
ISI3:               PD_CAMERA, DFMT1, MDAC_C20=0, MBC_C0=0.23
ISI4:               PD_CAMERA, DFMT1, MDAC_C21=0, MBC_C0=0.24
ISI5:               PD_CAMERA, DFMT1, MDAC_C22=0, MBC_C0=0.25
ISI6:               PD_CAMERA, DFMT1, MDAC_C23=0, MBC_C0=0.26
ISI7:               PD_CAMERA, DFMT1, MDAC_C24=0, MBC_C0=0.27
ISI8:               PD_CAMERA, DFMT1, MDAC_C25=0, MBC_C0=0.28
GPV_CAMERA:         PD_CAMERA, MBC_C1=0.0

#==========================================================================#
# Memories                                                                 #
#==========================================================================#

OCRAM_C:            PD_CAMERA, MRC_C0=0, nrgns=2

#==========================================================================#
# TRDC Init                                                                #
#==========================================================================#

TRDC_CONFIG_C       ndid=16, nmstr=26, nmrc=1, nmbc=3
TRDC_C              did=0-15, perm=0

