## ###################################################################
##
## Copyright 2023 NXP
##
## Redistribution and use in source and binary forms, with or without modification,
## are permitted provided that the following conditions are met:
##
## o Redistributions of source code must retain the above copyright notice, this list
##   of conditions and the following disclaimer.
##
## o Redistributions in binary form must reproduce the above copyright notice, this
##   list of conditions and the following disclaimer in the documentation and/or
##   other materials provided with the distribution.
##
## o Neither the name of the copyright holder nor the names of its
##   contributors may be used to endorse or promote products derived from this
##   software without specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
## ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
## WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
## DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
## ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
## (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
## LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
## ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
## SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##
##
## ###################################################################

# SM configuration data file for MX95 CORTEXAMIX

#==========================================================================#
# Resources                                                                #
#==========================================================================#

A55P:               PD_A55P, CPU_A55P, CLK_A55, CLK_A55P_GPR_SEL, \
                    CLK_A55PERIPH, PERF_A55, \
                    DFMT0, MDAC_N0C=0-3, MDAC_N1C=0-3, \
                    MDAC_N2C=0-3, MDAC_N3C=0-3
A55C0:              PD_A55C0, CPU_A55C0, CLK_A55C0_GPR_SEL, \
                    BCTRL_A_IPG_DEBUG=0xC, BCTRL_W_IPG_DEBUG=0x30, \
                    BCTRL_W_IPG_DEBUG_2=0x50
A55C1:              PD_A55C1, CPU_A55C1, CLK_A55C1_GPR_SEL, \
                    BCTRL_A_IPG_DEBUG=0x10, BCTRL_W_IPG_DEBUG=0x34, \
                    BCTRL_W_IPG_DEBUG_2=0x54
A55C2:              PD_A55C2, CPU_A55C2, CLK_A55C2_GPR_SEL, \
                    BCTRL_A_IPG_DEBUG=0x14, BCTRL_W_IPG_DEBUG=0x38, \
                    BCTRL_W_IPG_DEBUG_2=0x58
A55C3:              PD_A55C3, CPU_A55C3, CLK_A55C3_GPR_SEL, \
                    BCTRL_A_IPG_DEBUG=0x18, BCTRL_W_IPG_DEBUG=0x3C, \
                    BCTRL_W_IPG_DEBUG_2=0x5C
A55C4:              PD_A55C4, CPU_A55C4, CLK_A55C4_GPR_SEL, \
                    BCTRL_A_IPG_DEBUG=0x1C, BCTRL_W_IPG_DEBUG=0x40, \
                    BCTRL_W_IPG_DEBUG_2=0x60
A55C5:              PD_A55C5, CPU_A55C5, CLK_A55C5_GPR_SEL, \
                    BCTRL_A_IPG_DEBUG=0x20, BCTRL_W_IPG_DEBUG=0x44, \
                    BCTRL_W_IPG_DEBUG_2=0x64

#TCU_A55:            PD_A55P, MBC_N0=2.0, MBC_N0=3.0
MTR_DCA_A55:        PD_A55P, MBC_N0=2.2, MBC_N0=3.2
TROUT_BASIC_A55:    PD_A55P, MBC_N0=2.3, MBC_N0=3.3
TEMP_A55:           PD_A55P, MBC_N0=2.4, MBC_N0=3.4

#==========================================================================#
# Memories                                                                 #
#==========================================================================#

A55_ROM:            PD_WAKEUP, MRC_W0=0, nrgns=8

