## ###################################################################
##
## Copyright 2023 NXP
##
## Redistribution and use in source and binary forms, with or without modification,
## are permitted provided that the following conditions are met:
##
## o Redistributions of source code must retain the above copyright notice, this list
##   of conditions and the following disclaimer.
##
## o Redistributions in binary form must reproduce the above copyright notice, this
##   list of conditions and the following disclaimer in the documentation and/or
##   other materials provided with the distribution.
##
## o Neither the name of the copyright holder nor the names of its
##   contributors may be used to endorse or promote products derived from this
##   software without specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
## ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
## WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
## DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
## ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
## (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
## LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
## ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
## SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##
##
## ###################################################################

# SM configuration data file for MX95 toplevel

include aonmix.cfg
include bbsmmix.cfg
include cameramix.cfg
include ccmsrcgpcmix.cfg
include cortexamix.cfg
include ddrmix.cfg
include displaymix.cfg
include gpumix.cfg
include hsiomix.cfg
include m7mix.cfg
include wakeupmix.cfg
include megamix.cfg
include netcmix.cfg
include nocmix.cfg
include npumix.cfg
include vpumix.cfg

#==========================================================================#
# Automatic resources                                                      #
#==========================================================================#

PD_ANA:
PD_AON:
PD_BBSM:
PD_CCMSRCGPC:
PD_HSIO_WAON:
PD_NOC:
PD_WAKEUP:

#==========================================================================#
# ELE Domain                                                               #
#==========================================================================#

DOM0                did=0
DFMT1:              sa=bypass, pa=bypass
OWNER:              perm=sec_rw
ALL_RO:             did=0-15, perm=ro

# Resources

ANATOP              OWNER
FSB                 ALL_RO
TROUT_BASIC_A       OWNER
TROUT_BASIC_A55     OWNER
TROUT_BASIC_C       OWNER
TROUT_BASIC_D       OWNER
TROUT_BASIC_E       OWNER
TROUT_BASIC_G       OWNER
TROUT_BASIC_H       OWNER
TROUT_BASIC_N       OWNER
TROUT_BASIC_NPUMIX  OWNER
TROUT_BASIC_V       OWNER
TROUT_BASIC_W       OWNER

# Memory

M7MIX               OWNER, begin=0x4A030000, end=0x4A03FFFF

#==========================================================================#
# MTR Domain                                                               #
#==========================================================================#

DOM1                did=1
DFMT1:              sa=bypass, pa=bypass
OWNER:              perm=rw

# Resources

MTR_DCA_A           OWNER
MTR_DCA_A55         OWNER
MTR_DCA_C           OWNER
MTR_DCA_D           OWNER
MTR_DCA_DDR         OWNER
MTR_DCA_E           OWNER
MTR_DCA_G           OWNER
MTR_DCA_H           OWNER
MTR_DCA_N           OWNER
MTR_DCA_NPUMIX      OWNER
MTR_DCA_V           OWNER
MTR_DCA_V2X         OWNER
MTR_DCA_W           OWNER
MTR_FBX_MSTR        OWNER
MTR_MSTR            OWNER

# Memory

M7MIX               OWNER, begin=0x4A020000, end=0x4A02FFFF

#==========================================================================#
# Test Domain                                                              #
#==========================================================================#

DOM8                did=8
DFMT1:              sa=bypass, pa=bypass
OWNER:              perm=rw

# Resources

TCU_A               OWNER
TCU_A55             OWNER
TCU_ANA             OWNER
TCU_BB              OWNER
TCU_C               OWNER
TCU_CCM             OWNER
TCU_D               OWNER
TCU_DDR             OWNER
TCU_E               OWNER
TCU_G               OWNER
TCU_H               OWNER
TCU_N               OWNER
TCU_NPUMIX          OWNER
TCU_V               OWNER
TCU_W               OWNER
TESTPORT            OWNER

#==========================================================================#
# Debug Domain                                                             #
#==========================================================================#

DOM9                did=9
DFMT1:              sa=bypass, pa=bypass
OWNER:
DEBUG               did=9

# Resources

MDAP                OWNER
ETR                 OWNER

#==========================================================================#
# MIXes                                                                    #
#==========================================================================#

MIX                 name=CAMERA
MIX                 name=A55P
MIX                 name=A55C0
MIX                 name=A55C1
MIX                 name=A55C2
MIX                 name=A55C3
MIX                 name=A55C4
MIX                 name=A55C5
MIX                 name=DDR
MIX                 name=DISPLAY
MIX                 name=GPU
MIX                 name=HSIO_TOP
MIX                 name=HSIO_WAON
MIX                 name=M7
MIX                 name=NETC
MIX                 name=NOC
MIX                 name=NPU
MIX                 name=VPU
MIX                 name=WKUP
MIX                 name=ANA
MIX                 name=AON
MIX                 name=BBSM
MIX                 name=CCMSRCGPC

