## ###################################################################
##
## Copyright 2023 NXP
##
## Redistribution and use in source and binary forms, with or without modification,
## are permitted provided that the following conditions are met:
##
## o Redistributions of source code must retain the above copyright notice, this list
##   of conditions and the following disclaimer.
##
## o Redistributions in binary form must reproduce the above copyright notice, this
##   list of conditions and the following disclaimer in the documentation and/or
##   other materials provided with the distribution.
##
## o Neither the name of the copyright holder nor the names of its
##   contributors may be used to endorse or promote products derived from this
##   software without specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
## ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
## WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
## DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
## ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
## (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
## LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
## ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
## SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##
##
## ###################################################################

# SM configuration data file for MX95 NOCMIX

#==========================================================================#
# Resources                                                                #
#==========================================================================#

GIC:                PD_NOC, DFMT1, MDAC_N6=0, MBC_N1=0.0-18, \
                    MBC_N1=1.0-18

# AIPS Peripheral Bridge 4

BLK_CTRL_NOCMIX:    PD_NOC, MBC_N0=0.0, MBC_N0=1.0
TRDC_N:             PD_NOC, MBC_N0=0.1-2, MBC_N0=1.1-2
MTR_DCA_N:          PD_NOC, MBC_N0=0.3, MBC_N0=1.3
TCU_N:              PD_NOC, MBC_N0=0.4, MBC_N0=1.4
TROUT_BASIC_N:      PD_NOC, MBC_N0=0.5, MBC_N0=1.5
GPV_CENTRAL:        PD_NOC, MBC_N0=0.6, MBC_N0=1.6
CMU_N1:             PD_NOC, MBC_N0=0.7, MBC_N0=1.7
CMU_N2:             PD_NOC, MBC_N0=0.8, MBC_N0=1.8
SRAM_CTL_1:         PD_NOC, MBC_N0=0.10, MBC_N0=1.10
L_STCU_N:           PD_NOC, MBC_N0=0.11, MBC_N0=1.11
SRAM_CTL_N:         PD_NOC, MBC_N0=0.12, MBC_N0=1.12
SMMU:               PD_NOC, DFMT1, MDAC_N5=0, MBC_N0=0.13-15, \
                    MBC_N0=0.17-38, MBC_N0=1.13-15, MBC_N0=1.17-38
EIM_N:              PD_NOC, MBC_N0=0.39, MBC_N0=1.39

#==========================================================================#
# Memories                                                                 #
#==========================================================================#

OCRAM:              PD_NOC, MBC_N2=0, MBC_N2=1, origin=0x20480000, \
                    nblks=22, blksize=16K

#==========================================================================#
# TRDC Init                                                                #
#==========================================================================#

TRDC_CONFIG_N       ndid=16, nmstr=7, nmrc=1, nmbc=5
TRDC_N              did=0-15, perm=0
OCRAM               did=2-3, did=5-7, did=10-11, begin=0x20480000, \
                    size=352K, perm=0

