## ###################################################################
##
## Copyright 2023-2024 NXP
##
## Redistribution and use in source and binary forms, with or without modification,
## are permitted provided that the following conditions are met:
##
## o Redistributions of source code must retain the above copyright notice, this list
##   of conditions and the following disclaimer.
##
## o Redistributions in binary form must reproduce the above copyright notice, this
##   list of conditions and the following disclaimer in the documentation and/or
##   other materials provided with the distribution.
##
## o Neither the name of the copyright holder nor the names of its
##   contributors may be used to endorse or promote products derived from this
##   software without specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
## ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
## WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
## DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
## ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
## (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
## LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
## ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
## SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##
##
## ###################################################################

# SM configuration data file for MX95 WAKEUPMIX

#==========================================================================#
# Resources                                                                #
#==========================================================================#

GPIO2:              PD_WAKEUP, MBC_W0=1.0, PERLPI_GPIO2
GPIO3:              PD_WAKEUP, MBC_W0=2.0, PERLPI_GPIO3
GPV_MAIN:           PD_WAKEUP, MBC_W1=2.0
GPIO4:              PD_WAKEUP, MBC_W1=3.0, PERLPI_GPIO4
GPIO5:              PD_WAKEUP, MBC_W1=3.1, PERLPI_GPIO5
JTAG:               DAISY_JTAG_TCK, DAISY_JTAG_TDI, DAISY_JTAG_TMS   

# AIPS Peripheral Bridge 2

BLK_CTRL_WAKEUPMIX: PD_WAKEUP, MBC_W0=0.66
MU7_A:              PD_WAKEUP, MBC_W0=0.67
MU7_B:              PD_WAKEUP, MBC_W0=0.68
SEMA42:             PD_WAKEUP, MBC_W0=0.69
TRDC_W:             PD_WAKEUP, MBC_W0=0.70-71
TSTMR2:             PD_WAKEUP, CLK_TSTMR2, MBC_W0=0.72              
WDOG3:              PD_WAKEUP, MBC_W0=0.73, BCTRL_W_IPG_DEBUG=0x1000000, \
                    PERLPI_WDOG3
WDOG4:              PD_WAKEUP, MBC_W0=0.74, BCTRL_W_IPG_DEBUG=0x2000000, \
                    PERLPI_WDOG4
WDOG5:              PD_WAKEUP, MBC_W0=0.75, BCTRL_W_IPG_DEBUG=0x4000000, \
                    PERLPI_WDOG5
LPIT2:              PD_WAKEUP, MBC_W0=0.76, BCTRL_W_IPG_DEBUG=0x1000
LPTMR2:             PD_WAKEUP, CLK_LPTMR2, MBC_W0=0.77, DAISY_LPTMR2_0, \
                    DAISY_LPTMR2_1, DAISY_LPTMR2_2, \
                    BCTRL_W_IPG_DEBUG=0x80000
LPTPM3:             PD_WAKEUP, MBC_W0=0.78, BCTRL_W_IPG_DEBUG=0x100000
LPTPM4:             PD_WAKEUP, CLK_TPM4, MBC_W0=0.79, \
                    BCTRL_W_IPG_DEBUG=0x200000
LPTPM5:             PD_WAKEUP, CLK_TPM5, MBC_W0=0.80, \
                    BCTRL_W_IPG_DEBUG=0x400000
LPTPM6:             PD_WAKEUP, CLK_TPM6, MBC_W0=0.81, \
                    BCTRL_W_IPG_DEBUG=0x800000
I3C2:               PD_WAKEUP, CLK_I3C2, CLK_I3C2SLOW, MBC_W0=0.82, \
                    DAISY_I3C2_SCL, DAISY_I3C2_SDA, \
                    BCTRL_W_IPG_DEBUG=0x8000000
LPI2C3:             PD_WAKEUP, CLK_LPI2C3, MBC_W0=0.83, DAISY_LPI2C3_SCL, \
                    DAISY_LPI2C3_SDA, BCTRL_W_IPG_DEBUG=0x40
LPI2C4:             PD_WAKEUP, CLK_LPI2C4, MBC_W0=0.84, DAISY_LPI2C4_SCL, \
                    DAISY_LPI2C4_SDA, BCTRL_W_IPG_DEBUG=0x80
LPSPI3:             PD_WAKEUP, CLK_LPSPI3, MBC_W0=0.85, \
                    BCTRL_W_IPG_DEBUG=0x2000
LPSPI4:             PD_WAKEUP, CLK_LPSPI4, MBC_W0=0.86, \
                    DAISY_LPSPI4_SCK, DAISY_LPSPI4_SDI, DAISY_LPSPI4_SDO, \
                    BCTRL_W_IPG_DEBUG=0x4000
LPUART3:            PD_WAKEUP, CLK_LPUART3, MBC_W0=0.87, \
                    DAISY_LPUART3_CTS, DAISY_LPUART3_RXD, DAISY_LPUART3_TXD, \
                    PERLPI_LPUART3
LPUART4:            PD_WAKEUP, CLK_LPUART4, MBC_W0=0.88, \
                    DAISY_LPUART4_CTS, DAISY_LPUART4_RXD, DAISY_LPUART4_TXD, \
                    PERLPI_LPUART4
LPUART5:            PD_WAKEUP, CLK_LPUART5, MBC_W0=0.89, \
                    DAISY_LPUART5_CTS, DAISY_LPUART5_RXD, DAISY_LPUART5_TXD, \
                    PERLPI_LPUART5
LPUART6:            PD_WAKEUP, CLK_LPUART6, MBC_W0=0.90, \
                    DAISY_LPUART6_CTS, DAISY_LPUART6_RXD, DAISY_LPUART6_TXD, \
                    PERLPI_LPUART6
CAN_FD2:            PD_WAKEUP, CLK_CAN2, MBC_W0=0.91, DAISY_CAN2_RX, \
                    BCTRL_W_IPG_DEBUG=0x1, PERLPI_CAN2
FLEXIO1:            PD_WAKEUP, CLK_FLEXIO1, MBC_W0=0.92, DAISY_FLEXIO1_0, \
                    DAISY_FLEXIO1_1, DAISY_FLEXIO1_2, DAISY_FLEXIO1_3, \
                    DAISY_FLEXIO1_4, DAISY_FLEXIO1_5, DAISY_FLEXIO1_6, \
                    DAISY_FLEXIO1_7, DAISY_FLEXIO1_8, DAISY_FLEXIO1_9, \
                    DAISY_FLEXIO1_10, DAISY_FLEXIO1_11, DAISY_FLEXIO1_12, \
                    DAISY_FLEXIO1_13, DAISY_FLEXIO1_14, DAISY_FLEXIO1_15, \
                    DAISY_FLEXIO1_16, DAISY_FLEXIO1_17, DAISY_FLEXIO1_18, \
                    DAISY_FLEXIO1_19, DAISY_FLEXIO1_20, DAISY_FLEXIO1_21, \
                    DAISY_FLEXIO1_22, DAISY_FLEXIO1_23, DAISY_FLEXIO1_24, \
                    DAISY_FLEXIO1_25, DAISY_FLEXIO1_26, DAISY_FLEXIO1_27, \
                    DAISY_FLEXIO1_30, DAISY_FLEXIO1_31, \
                    BCTRL_W_IPG_DEBUG=0x10
FLEXIO2:            PD_WAKEUP, CLK_FLEXIO2, MBC_W0=0.93, \
                    BCTRL_W_IPG_DEBUG=0x20
FLEXSPI1:           PD_WAKEUP, CLK_FLEXSPI1, MBC_W0=0.94, \
                    DAISY_FLEXSPI1_DQS, DAISY_FLEXSPI1_0, \
                    DAISY_FLEXSPI1_1, DAISY_FLEXSPI1_2, \
                    DAISY_FLEXSPI1_3, DAISY_FLEXSPI1_4, \
                    DAISY_FLEXSPI1_5, DAISY_FLEXSPI1_6, \
                    DAISY_FLEXSPI1_7, DAISY_FLEXSPI1_SCK          
CAN_FD3:            PD_WAKEUP, CLK_CAN3, MBC_W0=0.96, DAISY_CAN3_RX, \
                    BCTRL_W_IPG_DEBUG=0x2, PERLPI_CAN3
MTR_DCA_W:          PD_WAKEUP, MBC_W0=0.97
TCU_W:              PD_WAKEUP, MBC_W0=0.98
TROUT_BASIC_W:      PD_WAKEUP, MBC_W0=0.99
ROMCP_A55:          PD_WAKEUP, MBC_W0=0.100
SAI3:               PD_WAKEUP, CLK_SAI3, CLK_MQS2, MBC_W0=0.101, \
                    DAISY_SAI3_RXBCLK, DAISY_SAI3_RXSYNC, \
                    BCTRL_W_IPG_DEBUG=0x10000000, CTRL_SAI3_MCLK
SAI4:               PD_WAKEUP, CLK_SAI4, MBC_W0=0.102, DAISY_SAI4_RXBCLK, \
                    DAISY_SAI4_RXDATA_0, DAISY_SAI4_RXSYNC, \
                    DAISY_SAI4_TXBCLK, DAISY_SAI4_TXSYNC, \
                    BCTRL_W_IPG_DEBUG=0x20000000, CTRL_SAI4_MCLK
SAI5:               PD_WAKEUP, CLK_SAI5, MBC_W0=0.103, DAISY_SAI5_RXBCLK, \
                    DAISY_SAI5_RXDATA_0, DAISY_SAI5_RXDATA_1, \
                    DAISY_SAI5_RXDATA_2, DAISY_SAI5_RXDATA_3, \
                    DAISY_SAI5_RXSYNC, DAISY_SAI5_TXBCLK, \
                    DAISY_SAI5_TXSYNC, BCTRL_W_IPG_DEBUG=0x40000000, \
                    CTRL_SAI5_MCLK
SPDIF1:             PD_WAKEUP, CLK_SPDIF, CLK_AUDIOXCVR, MBC_W0=0.104 \
                    DAISY_EARC_PHY_SPDIF
LPUART7:            PD_WAKEUP, CLK_LPUART7, MBC_W0=0.105, \
                    DAISY_LPUART7_RXD, DAISY_LPUART7_TXD, \
                    PERLPI_LPUART7
LPUART8:            PD_WAKEUP, CLK_LPUART8, MBC_W0=0.106, \
                    PERLPI_LPUART8
LPI2C5:             PD_WAKEUP, CLK_LPI2C5, MBC_W0=0.107, DAISY_LPI2C5_SCL, \
                    DAISY_LPI2C5_SDA, BCTRL_W_IPG_DEBUG=0x100
LPI2C6:             PD_WAKEUP, CLK_LPI2C6, MBC_W0=0.108, DAISY_LPI2C6_SCL, \
                    DAISY_LPI2C6_SDA, BCTRL_W_IPG_DEBUG=0x200
LPI2C7:             PD_WAKEUP, CLK_LPI2C7, MBC_W0=0.109, DAISY_LPI2C7_SCL, \
                    DAISY_LPI2C7_SDA, BCTRL_W_IPG_DEBUG=0x400
LPI2C8:             PD_WAKEUP, CLK_LPI2C8, MBC_W0=0.110, DAISY_LPI2C8_SCL, \
                    DAISY_LPI2C8_SDA, BCTRL_W_IPG_DEBUG=0x800
LPSPI5:             PD_WAKEUP, CLK_LPSPI5, MBC_W0=0.111, \
                    BCTRL_W_IPG_DEBUG=0x8000
LPSPI6:             PD_WAKEUP, CLK_LPSPI6, MBC_W0=0.112, \
                    BCTRL_W_IPG_DEBUG=0x10000
LPSPI7:             PD_WAKEUP, CLK_LPSPI7, MBC_W0=0.113, \
                    BCTRL_W_IPG_DEBUG=0x20000
LPSPI8:             PD_WAKEUP, CLK_LPSPI8, MBC_W0=0.114, \
                    BCTRL_W_IPG_DEBUG=0x40000
MU8_A:              PD_WAKEUP, MBC_W0=0.115
MU8_B:              PD_WAKEUP, MBC_W0=0.116
CMU_W1:             PD_WAKEUP, MBC_W0=0.117
ATU_A:              PD_WAKEUP, MBC_W0=0.118
ATU_M:              PD_WAKEUP, MBC_W0=0.119
EIM_W:              PD_WAKEUP, MBC_W0=0.120
ERM_W:              PD_WAKEUP, MBC_W0=0.121
CMU_W1:             PD_WAKEUP, MBC_W0=0.122
DMA_CRC:            PD_WAKEUP, MBC_W0=0.123
CAN_FD4:            PD_WAKEUP, CLK_CAN4, MBC_W0=0.124, DAISY_CAN4_RX, \
                    BCTRL_W_IPG_DEBUG=0x4, PERLPI_CAN4
CAN_FD5:            PD_WAKEUP, CLK_CAN5, MBC_W0=0.125, DAISY_CAN5_RX, \
                    BCTRL_W_IPG_DEBUG=0x8, PERLPI_CAN5

#==========================================================================#
# Memories                                                                 #
#==========================================================================#

FLEXSPI1_MEM:       PD_WAKEUP, MRC_W1=0, nrgns=8

FLEXSPI1_MEM        did=2-12, perm=none, begin=0x0, end=0x0

#==========================================================================#
# TRDC Init                                                                #
#==========================================================================#

TRDC_CONFIG_W       ndid=16, nmstr=35, nmrc=3, nmbc=3
TRDC_W              did=0-15, perm=0

#==========================================================================#
# BCTRL Init                                                               #
#==========================================================================#

BCTRL_CONFIG_W

