# Doxyfile 1.8.17

#---------------------------------------------------------------------------
# Include common settings
#---------------------------------------------------------------------------

@INCLUDE = common$(DOX_VER_MINOR).cfg

#---------------------------------------------------------------------------
# Configuration options related to the HTML output
#---------------------------------------------------------------------------

# If the GENERATE_HTML tag is set to YES, doxygen will generate HTML output
# The default value is: YES.

GENERATE_HTML          = YES

